<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400..800;1,400..800&family=Playfair:ital,opsz,wght@0,5..1200,300..900;1,5..1200,300..900&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="../Styles/rain-styles.css">
        <link rel="stylesheet" href="../Styles/game-styles.css">
        <title>The Nightmare</title>
    </head>
    <body>
        <header>
            <h2>HolaMundo</h2>
            <h3>HolaMundo</h3>
        </header>
        <main></main>
        <footer></footer>
        <script src="../../Data/Data.js"></script>
        <script src="../../Business/Game.js"></script>
        <script src="../Animations/rain.js"></script>
    </body>
</html>