<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <!-- <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script> -->
        <script src="../Animations/jQuery.js"></script>
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400..800;1,400..800&family=Playfair:ital,opsz,wght@0,5..1200,300..900;1,5..1200,300..900&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="../Styles/game-styles.css">
        <link rel="stylesheet" href="../Styles/rain-styles.css">
        <title>The Nightmare</title>
    </head>
    <body>
        <!--Inicio de efecto de lluvia-->
        <div class="rain front-row"></div>
        <div class="rain back-row"></div>
        <!--Final de efecto de lluvia-->
        <!--Inicio de contenedor de imagen ascii-->
        <div id="ascii-art"></div>
        <!--Final de contenedor de imagen ascii-->
        <header>
            <span>Ultima elección del jugador: </span>
        </header>
        <main>
            <section id="text">
                <div id="narration"><!--Contenido generado de manera dinámica con JS--></div>
                <hr style="color: white; margin: 0; padding: 0; width: 80%; ">
                <div id="question"><!--Contenido generado de manera dinámica con JS--></div>
            </section>
            <section id="actions">
                <div id="a-option" class="card gothic-frame"><!--Texto generado de manera dinámica con JS--></div>
                <div id="choice" class="card">→⛧←</div>
                <div id="b-option" class="card gothic-frame"><!--Texto generado de manera dinámica con JS--></div>
            </section>
        </main>
        <footer>
            <span id="deads">Muertes: </span>
            <span id="exit">Huir</span>
        </footer>
        <script src="../../Data/Data.js"></script>
        <script src="../../Business/Game.js" type="module"></script>
        <script src="../Animations/rain.js"></script>
    </body>
</html>